/* ===================================== 
   Public API Request
======================================== */

@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
	box-sizing: border-box;
}

/* Shout out to Material Designs, which was the inspiration for the dark theme
    https://material.io/design/color/dark-theme.html */
:root {

    --body-background: rgba(40, 41, 40, 1);
    --header-color: rgba(225, 226, 225, 1);
   
    --card-text-color: rgba(164, 165, 164, 1);
    --card-background: rgba(29, 30, 29, 1);
    --card-border: rgba(56, 57, 56, 1);
    --card-name-color: rgba(225, 226, 225, 1);

    --no-results-message-color: rgba(225, 226, 225, 1);

    --hover-card-background: rgba(45, 46, 45, 1);
    --hover-card-border: rgba(254, 255, 254, 1);
    --hover-card-text-color: rgba(170, 171, 170, 1); 
    
    --modal-background: rgba(29, 30, 29, 1);
    --modal-border: rgba(56, 57, 56, 1);
    --modal-text-color: rgba(164, 165, 164, 1);
    --modal-name-color: rgba(225, 226, 225, 1);

    --modal-btn-container-background: rgba(29, 30, 29, 1);

    --modal-btn-container-btn-background: rgba(29, 30, 29, 1);
    --modal-btn-container-btn-color: rgba(186, 134, 252, 1);
    --modal-btn-container-border: rgba(56, 57, 56, 1);

    --modal-btn-border: rgba(66, 67, 66, 1);

    --modal-close-btn-background: rgba(29, 30, 29, 1);
    --modal-close-btn-color: rgba(186, 134, 252, 1);
    --modal-close-btn-border: rgba(66, 67, 66, 1);

    --hover-card-btn-background: rgba(47, 44, 48, 1);
    --hover-card-btn-color: rgba(186, 134, 252, 1); 

    --search-submit-input-background: rgba(40, 41, 40, 1);
    --search-submit-input-border: rgba(121, 122, 121, 1);
    --search-submit-input-focus-background: rgba(47, 44, 48, 1);
    --search-submit-input-focus-border: rgba(121, 122, 121, 1);

    --search-input-boarder: rgba(121, 122, 121, 1);
    --search-input-background: rgba(40, 41, 40, 1);
    --search-input-active-border: rgba(186, 134, 252, 1);
    --search-input-color: rgba(164, 165, 164, 1);
    
}

html, body {
    width: 100%;
    max-width: 100%;
}

body {
    font-family: "Nunito", sans-serif;
    text-align: center;
    background: var(--body-background);
}

header {
    padding: 15px 5px 5px;
}

.header-inner-container {
    max-width: 1180px;
    margin: auto;
}

header h1 {
    font-size: 1.25em;
    color: var(--header-color);
    margin-top: 35px;
}

.search-input {
    padding: 0.4rem 1rem;
    border: 1px solid var(--search-input-boarder);
    border-radius: 0.25rem 0.25rem ;
    max-width: 20rem;
    transition: .4s ease-out;
    outline: none;
    background-color: var(--search-input-background);
    color: var(--search-input-color);
}

.search-input:active, .search-input:hover, .search-input:focus {
    border: 1px solid var(--search-input-active-border);
}

.search-submit {
    cursor: pointer;
    height: 33px;
    background: var(--search-submit-input-background);
    border-radius: 0 0.25rem 0.25rem 0;
    border: 1px solid var(--search-submit-input-border);
    transition: .4s ease-out;
    outline: none;
}

.search-submit:active, .search-submit:hover, .search-submit:focus {
    background: var(--search-input-focus-background);
    border: 1px solid var(--search-input-focus-border);
}


/* ===================================== 
   Gallery
======================================== */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
  
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 360px;
    margin: 10px 10px 20px;
    padding: 10px;
    background: var(--card-background);
    border-radius: 0.25em;
    border: 1px solid var(--card-border);
    transition: .4s ease-out;
    overflow: hidden;
}

.card-img {
    width: 95px;
    margin: 10px 15px auto 10px;
    border-radius: 50%;
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
    color: var(--card-name-color);
}

.card-text {
    font-size: 0.9em;
    color: var(--card-text-color);
    margin: 7px auto;
    transition: .4s ease-out;
}

.cap {
    text-transform: capitalize;
}

.no-results-message {
    font-size: 1.25em;
    color: var(--no-results-message-color);
    margin-top: 35px;
}


/* ===================================== 
   Modal
======================================== */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 15px;
    background: var(--modal-background);
    border-radius: 0.25em;
    border: 1px solid var(--modal-border);
    transition: .4s ease-out;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: var(--modal-close-btn-color);
    background: var(--modal-close-btn-background);
    outline: none;
    border-radius: 0.25em;
    border: 1px solid var(--modal-close-btn-border);
}

.modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
}

.modal-name {
    margin-bottom: 5px;
    color: var(--modal-name-color);
}

.modal-text {
    color: var(--modal-text-color);
    margin: 10px;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
    border-color: rgba(200, 200, 200, 0.2);
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;;
    margin: 10px auto auto;
    background: var(--modal-btn-container-background);
    border-radius: 0.25em;
    border: 1px solid var(--modal-btn-container-border);
}


.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85em;
    text-transform: uppercase;
    color: var(--modal-btn-container-btn-color);
    padding: 0.75em 1.5em;
    background: var(--modal-btn-container-btn-background);
    border-radius: 0.35em;
    transition: .4s ease-out;
    outline: none;
  }

  .btn {
      border-color: var(--modal-btn-border);
      transition: .4s ease-out;
  }
  

/* ===================================== 
   Media Queries
======================================== */

/* ===================================== 
   Tablet
======================================== */

@media (min-width: 768px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
    }

    .header-text-container {
        text-align: left;
    }

    .search-container {
        margin-top: 25px;
    }

    .modal {
        margin-top: 100px;
    }
}


/* ===================================== 
   Desktop
   Hover styles on desktop 
======================================== */

@media (min-width: 1024px) {

    .card:hover {
        background: var(--hover-card-background);
        border: 1px solid var(--hover-card-border);
    }

    .card:hover .card-text {
        color: var(--hover-card-text-color); 
    }

    .btn:hover {
        background: var(--hover-card-btn-background);
        color: var(--hover-card-btn-color); 
    }
}